#map-col{
    background-color: #f8f8f8;
}
.countries {
    stroke: #f7f7f7;
    fill: #d9d9d9;
}
#year-bar-chart{
    width: 500px;
    height: 500px;
}
.year-diagram{
    text-align: center;
}