/* #map-col{
    background-color: #f8f8f8;
} */

.center {
    display: flex;
    justify-content: center;
    align-itrems: center;
    height: 100%;
  }
.flag{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

}
.nav-link{
    background-color: transparent;
}
.nav-link:focus{
    outline: none;
}
.countries {
    stroke: #f7f7f7;
    fill: #d9d9d9;
}
#year-bar-chart, #map-svg{
    margin-right: 80px;
}
/* #year-bar-chart{
    width: 700px;
    height: 400px;
} */
.container-fluid
{
    max-width: 1500px;
}

.year-diagram{
    text-align: center;
}
.country-active{
    stroke:rgb(31, 30, 30);
    
}

#selected-country-button{
  white-space: nowrap; 
  width: 190px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
#africa-button{
    width: 190px;
}

.tooltip {
    /*opacity: 0;*/
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.6rem 1rem;
    background: #fff;
    box-shadow: 0 6px 8px rgba(52, 73, 94, .2), 0 1px 1px rgba(52, 73, 94, 0.1);
    z-index: 10;
    transition: 0.1s;
    pointer-events: none;
    margin:0;
    font-size: smaller;
    width:260px;
    line-height: 1.3;
}
.tooltip:before {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}
.info-panel p{
    margin-bottom: 4px;
}
.info-panel table{
    margin: 4px 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.info-country-name {
    font-size:1.1rem;
    font-weight:600;
    margin-bottom:5px;
    line-height:1.1rem
}

.info-sub-title{
letter-spacing: .03rem;
color: #333;
display: block;
font-size: .8rem;
}
.info-GDP{
    float: right;
}
.info-panel th{
    border-top: none;
    border-bottom: 1px;
    text-transform: uppercase;
    font-weight: 400;
    color: #666;
    font-size: .65rem;
    vertical-align: bottom;
}

.info-panel td{
    vertical-align: middle;
    border-top: 1px solid #efefef;
    font-size: .8rem;
    line-height: 1.3;
}
.info-bracket-name
{
    float: right;
}
#country-info{
    margin:14px;
}

.col-name{
    width: 15%;
}
.col-req{
    width: 35%;
}
.col-normal{
    width: 50%;
}


#country-chart-nav
{
    margin-top:30px;
}

.options{
    text-align: center;
    margin-top: 8px;
}

#sunburst-options{
    height: 38px;
}
#sunburst{
    margin-right: 20px;
    margin-left: 20px;
}

.year-nav{
    margin-top: 10px ;
}
.footer{
    padding-bottom: 50px;
    padding: 25px 10px;
}
.info-card:nth-child(1){
    border: none;
}
.info-card{
    float: left;
    width: 200px;
    border-left: 1px solid #ebebeb;
    padding: 10px;
}
.info-card p{
    margin:0;
}
.info-card p:nth-child(1){
    font-size: 0.8rem;
    color: #3c4043;
    line-height: 0.8rem;
}
.info-card p:nth-child(2){
    
    font-size: 1.7rem;
    color: black;
}
.info-card p:nth-child(3){
    font-size: 0.6rem;
    color:#70757a;
}

.info-box{
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    padding: 20px;
}




.eu-card{
    border: none;
    float: left;
}
.it-card{
    border: none;
    float: right;
    text-align: right;
}
#it-flag{
    float: right;
}
#eu-flag{
    float:left;
}
.total-card{
    padding: 10px;
}
.total-card p{
    margin:0;
}
.total-card p:nth-child(1){
    font-size: 0.9rem;
    color: #3c4043;
    line-height: 1.4rem;
}
.total-card p:nth-child(2){
    line-height: 1.2rem;
    font-size: 1.8rem;
    color: black;
}
.total-card p:nth-child(3){
    font-size: 0.7rem;
    color:#70757a;
}
.total-box{
    border: 1px solid #dfe1e5;
    border-radius: 70px;
    padding: 18px!important;
    width: 100%;
}
#total-info{
    padding: 15px 10px 10px 10px;
}
#total-title{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
}
.pin{
    fill: mediumvioletred;
}
.sunburst-label{
    font-size: 0.8rem;
}

@media (max-width: 575.98px) {
    .sunburst-label{
        font-size: 1.8vw;
    }
}